[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
